<ion-view cache-view="false" view-title="Edit Organization">
    <ion-content >        
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="shift in shifts" type="item-text-wrap" href="#/tab/orgs-detail/{{org.id}}">
                <h2>Init Date: {{shift.initDate}}</h2>
                <h2>End Date: {{shift.endDate}}</h2>
                <h2>Quantity Requested: {{shift.qtyVolunteer}}</h2>
<!--                 <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="remove(org)">
                    Delete
                </ion-option-button> -->
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
