<ion-view cache-view="false" view-title="New Organization" ng-controller="NewOrgCtrl as controller">
<!-- <ion-nav-buttons side="left">
      <button class=" button icon ion-chevron-left" ng-click="cancel()">    
      </button>
    </ion-nav-buttons> -->

    <ion-content class="padding">        
        <div class="list">
            <label class="item item-input item-floating-label">
                <input type="text" placeholder="Name" ng-model="org.name">
            </label>
            <label class="item item-input item-floating-label">
                <input type="text" placeholder="Address" ng-model="org.address">
            </label>
            <label class="item item-input item-floating-label">
                <input type="text" placeholder="City" ng-model="org.city">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    State
                </div>
                <select ng-model="org.state">
                    <option value="SC">SC</option>
                    <option value="NC">NC</option>                    
                </select>
            </label>
            <label class="item item-input item-floating-label">
                <input type="text" placeholder="Zip Code" ng-model="org.zipcode">
            </label>
            <label class="item item-input item-floating-label">
                <input type="text" placeholder="Phone" ng-model="org.phone">
            </label>
                <label class="item item-input item-floating-label">
                <input type="email" placeholder="Email" ng-model="org.email">
            </label>
        </div>
        <button class="button button-full button-positive" ng-click="neworg(org)">
            Add
        </button>
        <button class="button button-full button-positive" ng-click="cancel()">
            Cancel
        </button>
    </ion-content>
</ion-view>
