<ion-view cache-view="false" view-title="Organization" hide-tabs>
    <ion-nav-buttons side="left">
        <button class=" button icon ion-chevron-left" ng-click="map()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <br>
        <button class="button button-full button-positive" style="width: 90%; margin-left: 5%" ng-click="neworg()">
            Add New Organization
        </button>
        <br>
        <button class="button button-full button-positive" style="width: 90%; margin-left: 5%" ng-click="editorg()">
            Edit Organization
        </button>
        <br>
        <!-- <button class="button button-full button-positive" ng-click="requestFood()">
            Request Food
        </button> -->
        <button class="button button-full button-positive" style="width: 90%; margin-left: 5%" ng-click="requestVolunteer()">
            Request Volunteers
        </button>
    </ion-content>
</ion-view>
