.pure-menu-item {
	padding: 0;
	margin: 0;
}
.pure-menu-link {
	padding: 0;
	margin: 0;
}

html, body {
height: 100%;
}

#bottomNav {
   position: fixed;
   bottom: 0;
   width: 100%;
}
#image1{
	background-image:url(image1.jpg);
}
#top{
height: 50%;
align: right;
}
#bottom{
height: 50%;
align: right;
}
.img-circle {
    border-radius: 50%;
    height: 10%;
    align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }
#carrington {
 background-image:url(MainImage.jpg);
 height: 100%;
 width: 100%;
}
