<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Create New Order</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>

    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input ng-model="product.name" type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Quantity</span>
                <input ng-model="product.quantity" type="number">
            </label>
            <label class="item item-input">
                <span class="input-label">Price</span>
                <input ng-model="product.price" type="number">
            </label>
            <label class="item item-input">
                <span class="input-label">Category</span>
                <select ng-model="product.category">
                  <option value="Food" selected>Food</option>
                  <option value="Stationary">Stationary</option>
                  <option value="Clothing">Clothing</option>
                </select>
            </label>

            <button class="button button-full button-positive" ng-click="createOrder(product)">Create</button>
        </div>
    </ion-content>
</ion-modal-view>
