<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{Orders.productName}}">
  <ion-content class="padding">
  <ul>
  <li>{{order.productName}}</li>
  <li>{{order.productQty}}</li>
  <li>{{order.productPrice}}</li>
  <li>{{order.productCategory}}</li>
  <li>{{order.productOrderDate}}</li>
  </ul>
  </ion-content>
</ion-view>
