<ion-view cache-view="false" view-title="Organization Detail">
    <!-- <ion-nav-buttons side="right">
        <button class="button" ng-click="request($scope.id)">
            Request
        </button>
    </ion-nav-buttons> -->
    <ion-content class="padding">

        <ion-item class="item-remove-animate item-avatar item-icon-right">
            <h2> Name: {{name}} </h2>
            <p> Address: {{address}} </p>
            <p> City: {{city}} </p>
            <p> State: {{state}} </p>
            <p> Zipcode: {{zipcode}} </p>
            <p> Email: {{email}} </p>
            <!-- <p>Lat/Long: {{lat}} / {{lng}}</p> -->
        </ion-item>
        <br>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in itens" type="item-text-wrap">
            <h2> Item: {{item.category}} </h2>
            <p> Qty: {{item.qty}} </p>                            
        </ion-item>
        
    </ion-content>
</ion-view>
