

<ion-view view-title="Login" ng-init="init()">
    <ion-content class="padding">
        <style>
        img {
    display: block;
    margin: 0 auto;
}
        </style>
        <br>
        <br>
        <img style="width: 100px; height: 100px; margin: auto;" src="img/beacon_letter_head.png">
        <h1 style="text-align: center;">Beacon</h1>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Email" ng-model="user.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="user.password">
            </label>
        </div>
        
        <button class="button button-full button-positive" ng-click="login(user)"> Login </button>
        <button class="button button-full button-positive" ng-click="register()"> Register </button>
        <!-- <button class="button button-clear button-positive" ng-click="changePassword()"> Forget Password ? </button> -->
        <button class="button button-full button-positive" ng-click="survivorAccess()"> Survivor Access - Click here </button>

    </ion-content>
</ion-view>
