<ion-view cache-view="false" view-title="New Order" ng-controller="NewOrderCtrl as controller">
    <ion-content class="padding">
        <h3 style="text-align: center;">Add a New Order</h3>        
        <div class="list">
            <label class="item item-input item-floating-label">
                <input type="text" placeholder="Name" ng-model="order.name">
            </label>
            <label class="item item-input item-floating-label">
                <input type="number" placeholder="Quantity" ng-model="order.qty">
            </label>
            <label class="item item-input item-floating-label">
                <input type="number" placeholder="Price" ng-model="order.price">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Category
                </div>
                <select ng-model="order.category">
                    <option value="Food">Food</option>
                    <option value="Stationary">Stationary</option>
                    <option value="Clothing">Clothing</option>
                </select>
            </label>
            <label class="item item-input item-floating-label">
                <input type="date" placeholder="Order Date" ng-model="order.date">
            </label>
        </div>
        <button class="button button-full button-positive" ng-click="neworder(order)">
            Add
        </button>
        <button class="button button-full button-positive" ng-click="cancel()">
            Cancel
        </button>
    </ion-content>
</ion-view>
