<ion-view cache-view="false" view-title="Orders">
    <ion-nav-buttons side="right">

        <button class="button" ng-click="neworder()">
            New Order
        </button>
    </ion-nav-buttons>

    <ion-content>

        <input type="text" placeholder=" Search" ng-model="search.name" style="width:100%; padding-left:11px;" />
        <ion-list>

            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="order in orders | filter:search" type="item-text-wrap" href="#/tab/orders/{{order.id}}">

                <img ng-src="{{order.img}}">
                <h2>Order: {{order.name}}</h2>
                <h2>Category: {{order.category}}</h2>

                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="remove(order)">Delete</ion-option-button>
            </ion-item>
            
        </ion-list>
    </ion-content>
</ion-view>
